# <font color=darkblue> Machine Learning model deployment with Flask framework on Heroku</font>

## <font color=Blue>Used Cars Price Prediction Application</font>

### Objective:
1. To build a Machine learning regression model to predict the selling price of the used cars based on the different input features like fuel_type, kms_driven, type of transmission etc.
2. Deploy the machine learning model with flask framework on heroku.

### Dataset Information:
#### Dataset Source: https://www.kaggle.com/datasets/nehalbirla/vehicle-dataset-from-cardekho?select=CAR+DETAILS+FROM+CAR+DEKHO.csv
This dataset contains information about used cars listed on www.cardekho.com
- **Car_Name**: Name of the car
- **Year**: Year of Purchase
- **Selling Price (target)**: Selling price of the car in lakhs
- **Present Price**: Present price of the car in lakhs
- **Kms_Driven**: kilometers driven
- **Fuel_Type**: Petrol/diesel/CNG
- **Seller_Type**: Dealer or Indiviual
- **Transmission**: Manual or Automatic
- **Owner**: first, second or third owner

### 1. Import required libraries

In [69]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings('ignore')

from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import StackingClassifier
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier

In [70]:
pwd

'D:\\padhai\\kaggle\\lab 5'

### 2. Load the dataset

In [71]:
df = pd.read_csv('car+data.csv')
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

### 3. Check the shape and basic information of the dataset.

In [72]:
df.shape

(301, 9)

### 4. Check for the presence of the duplicate records in the dataset? If present drop them

In [73]:
len(df[df.duplicated()])
# so we dont have any duplicate record

2

In [74]:
df = df.drop_duplicates()

In [75]:
len(df[df.duplicated()])
# so we dont have any duplicate record

0

### 5. Drop the columns which you think redundant for the analysis.

In [76]:
# Drop the 'seller_type' column
df = df.drop('Seller_Type', axis=1)

In [77]:
df = df.drop('Car_Name', axis=1)

### 6. Extract a new feature called 'age_of_the_car' from the feature 'year' and drop the feature year

In [78]:
df["age"]=2022-df["Year"]

In [79]:
df = df.drop('Year', axis=1)

In [80]:
df.head()

   Selling_Price  Present_Price  Kms_Driven Fuel_Type Transmission  Owner  age
0           3.35           5.59       27000    Petrol       Manual      0    8
1           4.75           9.54       43000    Diesel       Manual      0    9
2           7.25           9.85        6900    Petrol       Manual      0    5
3           2.85           4.15        5200    Petrol       Manual      0   11
4           4.60           6.87       42450    Diesel       Manual      0    8

### 7. Encode the categorical columns

In [81]:
df['Transmission'].value_counts()

Manual       260
Automatic     39
Name: Transmission, dtype: int64

In [82]:
df['Transmission'] = df['Transmission'].replace('Manual', 1)
df['Transmission'] = df['Transmission'].replace('Automatic', 2)

In [83]:
df['Fuel_Type'].value_counts()

Petrol    239
Diesel     58
CNG         2
Name: Fuel_Type, dtype: int64

### 8. Separate the target and independent features.

In [84]:
df['Fuel_Type'] = df['Fuel_Type'].replace('Diesel', 1)
df['Fuel_Type'] = df['Fuel_Type'].replace('Petrol', 2)
df['Fuel_Type'] = df['Fuel_Type'].replace('CNG', 3)

In [85]:
df.head()

,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Transmission,Owner,age
0,3.35,5.59,27000,2,1,0,8
1,4.75,9.54,43000,1,1,0,9
2,7.25,9.85,6900,2,1,0,5
3,2.85,4.15,5200,2,1,0,11
4,4.60,6.87,42450,1,1,0,8

### 9. Split the data into train and test.

In [86]:
X = df.drop("Selling_Price",axis=1)
Y = df['Selling_Price']

In [87]:
X_train,X_test,y_train,y_test= train_test_split(X,Y, test_size=0.3,random_state=0)

In [88]:
print(X_train.shape,X_test.shape)
print(y_train.shape,y_test.shape)

(209, 6) (90, 6)
(209,) (90,)

### 10. Build a Random forest Regressor model and check the r2-score for train and test.

In [89]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(X_train,y_train)

RandomForestRegressor()

In [90]:
from sklearn.metrics import r2_score
y_pred = rf.predict(X_test)

r2 = r2_score(y_test, y_pred)

print("R-squared score:", r2*100)

R-squared score: 90.0997857484248

### 11. Create a pickle file with an extension as .pkl

In [91]:
import pickle
with open('model.pkl','wb') as file:
    
    pickle.dump(rf, file)

In [106]:
num_features = model.n_features_in_
num_features

6

### 12. Create new folder/new project in visual studio/pycharm that should contain the "model.pkl" file *make sure you are using a virutal environment and install required packages.*

### a) Create a basic HTML form for the frontend

Create a file **index.html** in the templates folder and copy the following code.

In [93]:
import sklearn
print(sklearn.__version__)

1.2.2

### b) Create app.py file and write the predict function

In [105]:
from flask import Flask, request, jsonify
import pickle

app = Flask(__name__)

# Load the trained model
model = pickle.load(open('model.pkl', 'rb'))

@app.route('/predict', methods=['GET'])
def predict():
    # Get the input data from the POST request
    data = request.get_json()

    # Extract the input values from the JSON data
    Present_Price = data['Present_Price']
    Kms_Driven = data['Kms_Driven']
    Fuel_Type = data['Fuel_Type']
    Transmission = data['Transmission']
    Owner = data['Owner']
    age = data['age']

    # Make the prediction using the trained model
    prediction = model.predict([[Kms_Driven, Fuel_Type, Transmission, Owner, age]])

    # Return the prediction as a JSON response
    return jsonify({'prediction': prediction[0]})

if __name__ == '__main__':
    app.run()

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
127.0.0.1 - - [10/Jul/2023 13:01:36] "GET /predict HTTP/1.1" 415 -

### 13. Deploy your app on Heroku. (write commands for deployment)

### 14. Paste the URL of the heroku application below, and while submitting the solution submit this notebook along with the source code.

### Happy Learning :)